body {
	font-family: 'Roboto', sans-serif;
	margin:0;
}
.isprite {
	 background: url('/icons.png');
}
.hide {
	display: none!important;
}

.hov {
	padding-top: 2px;
}

.tree {
	width: 300px;
    float: left;
    height: 100vh;
    background: #383838;
    color: #888888;
    overflow: scroll;
}

.tree .folder {
	padding-left: 29px;
}
.tree .file {
	padding-left: 29px;
}

.tree .folder, .tree .file {
	cursor: pointer;
}

.tree .ico {
	width: 24px;
    height: 20px;
	float: left;

}
.tree .name {
	padding-top: 4px;
    padding-left: 30px;
}
.folder > .hov > .ico {
	background-position: -1px -224px;
	width: 26px;
}

.folder:not(.opened)  > .hov> .ico {
	background-position: -1px -205px;
	width: 23px;
}

.file > .ico {
	background-position: -1px -243px;
    width: 14px;
}
.file > .name {
	padding-left: 22px;
}

.tree-wrapp {
	margin-top: 40px;
}

.folder-childs {
	margin-top: 5px;
	padding-left:0;
}
.folder-childs li {
	list-style: none;
	margin-top: 5px;
}
.folder > .folder-childs {
	display: block;
}

.folder:not(.opened) > .folder-childs {
	display: none;
}


/**
	hovers
*/

.hov:hover > .name, .file:hover > .name {
	color: white;
}

.hov:hover > .name{
	color: white;
}

.folder > .hov:hover > .ico {
	background-position: -53px -224px;
}

.folder:not(.opened) > .hov:hover > .ico {
	background-position: -47px -205px;
}

.file:hover > .ico {
	background-position: -15px -243px;
}

/**
	content
*/
.btn {
	cursor: pointer;
}
.content {
	height: 100vh;
    padding-left: 30px;
    background: #ffffff;
    padding-top: 1px;
    overflow-y: scroll; 
}
.content h1 {
	font-size: 30px;
	width: 650px;
}

.content > .inspector {
	margin: 29px;
}
.info {
	position: relative;
}
.info .del {
	width: 21px;
    height: 29px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-position: -1px -177px;
}
.info .del:hover {
	background-position: -22px -177px;
}

.info .save {
	width: 26px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 50px;
    background-position: -1px -150px;
}
.info .save:hover {
	background-position: -27px -150px;
}

.d2 {
	width: 50%;
    float: left;
    text-align: center;
}

.d2-btn {
	width: 151px;
    margin: 38px auto;
}

.dir-create-ico {
    
    height: 73px;
    width: 96px;
    background-position: -1px 0;
    margin: 0 auto;
}

.btn:hover > .dir-create-ico {
	 background-position: -97px 0;
}

.f-create-ico {
    
    height: 78px;
    width: 60px;
    background-position: -1px -73px;
    margin: 0 auto;
}

.btn:hover > .f-create-ico {
	background-position: -61px -73px;
}

.editor {
	margin-top: 30px;
	min-height: 50px;
	background: #f3f3f3;
}

.selected > .name, .selected > .hov > .name {
	color: white;
}
.selected > .hov {
	background: #157efb;
}

.d2-btn {
	color: #157efb;
}
.d2-btn:hover {
	color: #ff9500;
}
